<div class="container">
  <p id="notice"><%= notice %></p>
  
  <div class="row mb-5">
    <div class="col-md-6 mx-auto">
      <h1 class="font-weight-bold mb-5 mt-5">Register your Business</h1>
      <%= render 'form', admin: @admin %>
    </div>
  </div>
</div>
