<div class="container">
  <%= render "layouts/nav" %>
  <p id="notice"><%= notice %></p>

  <h1 class="font-weight-bold mb-4 pb-2 text-info">New Invoice</h1>
  <%= render 'form', invoice: @invoice %>
</div>
