<div class="container">
  <%= render "layouts/nav" %>
  <p id="notice"><%= notice %></p>

  <h2 class="font-weight-bold mb-4 pb-2 text-green">New Invoice</h2>
  <%= render 'form', invoice: @invoice %>
</div>
