.textarea-height {
  height: 92px !important;
}

* {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3em;
}

a {
  text-decoration: underline;
}

.bg-black {
  background: #212529;
}

.rounded-btn {
  border-radius: 3em;
  padding: .8em 2.2em;
  text-decoration: none;
}

nav li {
  padding: 0 1em;
}

nav a {
  text-decoration: none;
}